/* root */
:root {

  /* text color */
  --primary-text-color: #999999;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #FFC107;
  --quaternary-text-color: #212223;

  /* font-family */
  --primary-font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Jost', sans-serif;

  /* font-weight */
  --primary-font-weight: 300;
  --secondary-font-weight: 400;
  --tertiary-font-weight: 500;
  --quaternary-font-weight: 600;
  --fifth-font-weight: 700;

  /* border-color */
  --primary-border-color: #2d2e2f;
  --secondary-border-color: #2d2e2f;
  --tertiary-border-color: #FFC107;

  /* btn-color */
  --primary-btn-color: #FFC107;

  /* background-color */
  --primary-background-color: #FFC107;
  --secondary-background-color: #18191a;
  --tertiary-background-color: #212223;
  --quaternary-background-color: #2d2e2f;
  --fifth-background-color: #2f2f2f;
  --sixth-background-color: #ffffff;

  }